*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/

data/
# VSCode
.vscode
*.out

# PBS
download_pdb_files_pbs.jl.o*
download_pdb_files_pbs.jl.e*
create_db.jl.o*
create_db.jl.e*

# tests
test/data/1EX6_B_results.m8
test/data/.*

# tmp
.nfs*

# SIFTS
pdb_chain_uniprot.csv.gz

#PDB 
*.pdb

*.csv

#Script no use 
src/additional_function.jl
src/af_input.jl
src/foldseek_api_curl.jl
src/pdb_folders.jl
src/usalign.jl

# DEV
_*.md
AGENTS.md