*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/

# VSCode
.vscode

# PBS
download_pdb_files_pbs.jl.o*
download_pdb_files_pbs.jl.e*
create_db.jl.o*
create_db.jl.e*

# tests
test/data/1EX6_B_results.m8
test/data/.*

# tmp
.nfs*